<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}TopixSB{% endblock %}</title>
  </head>
  <body style="background-color: black; color: #fff">
    <div>
      <center>
        {% for dt in dispvar%}
        <span style="color:{{dt[1]}}">{{ dt[0] }}</span>
        {% endfor %}
      </center>
    </div>
    <br />
    <br />

    <form action="./TopixSB" method="post">
      <fieldset>
        <legend>TopixSB Tools</legend>
        {% if output %}
        <pre>Output:<br>{{ output }}</pre>
        {% endif %} {% block content %} {% endblock %}
      </fieldset>
    </form>
    <br />
    <div>
      [
      <a
        style="color: aqua"
        href="https://www.youtube.com/c/TopixSBofficial/videos"
        >Subscribe</a
      >
      ] {% for dt in linkyt %}
      <span style="color:{{dt[1]}}">{{ dt[0] }}</span>
      {% endfor %}
      <br />
      [
      <a style="color: aqua" href="https://www.tiktok.com/@topixsbofficial"
        >Subscribe</a
      >
      ] {% for dt in linktiktok %}
      <span style="color:{{dt[1]}}">{{ dt[0] }}</span>
      {% endfor %}
    </div>
  </body>
</html>
