{% extends 'base.html' %}

{% block content %}
<div>
    <form action = './TopixSB' method = post>
        {{ form.cname() }}
        {{ form.cname.label() }}  ->
        {{ form.cnamer() }}
        {{ form.cnamer.label() }}
        <br>
        {{ form.cmoney() }}
        {{ form.cmoney.label() }}
        <br>
        {{ form.ccoin() }}
        {{ form.ccoin.label() }}
        <br>
        {{ form.chorn() }}
        {{ form.chorn.label() }}
        <br>
        {{ form.csirine() }}
        {{ form.csirine.label() }}
        <br>
        <br>
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}